body{
    margin:0;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#EEF2FF,#F8FAFC);

    font-family:Arial;
}

.container{
    width:500px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    text-align:center;
}

.logo{
    width:120px;

    margin-bottom:10px;
}

h1{
    color:#111827;
}

p{
    color:#6B7280;
}

.box-url{
    display:flex;

    gap:10px;

    margin-top:30px;
}

input{
    flex:1;

    padding:14px;

    border:1px solid #D1D5DB;

    border-radius:12px;

    font-size:16px;

    outline:none;
}

input:focus{
    border-color:#3B82F6;
}

button{
    padding:14px 20px;

    border:none;

    border-radius:12px;

    background:#3B82F6;

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background:#2563EB;

    transform:translateY(-2px);
}

.resultado{
    margin-top:30px;
}

.link-box{
    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#F9FAFB;

    padding:15px;

    border-radius:12px;

    margin-top:10px;
}